<h1>Eat the Burger!</h1>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="b">Enter a burger you want to eat, then click the Submit button</label>
    <input type="text" id="b" name="name">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
